/* Change default link color */
a {
    color: #49B6FF; /* Change to your preferred color */
    text-decoration: none; /* Removes underline */
}

/* Change color when hovering over links */
a:hover {
    color: #49B6FF; /* Green on hover */
    text-decoration: none;
}

/* Change visited link color */
a:visited {
    color: #49B6FF; /* Purple */
}
