.page-content {
    max-width: 1000px; /* Increase width (default is ~700px) */
    width: 90%; /* Responsive width */
    margin: auto; /* Center content */
}

@media (max-width: 768px) { /* For mobile devices */
    .page-content {
        width: 95%; /* Slightly narrower on small screens */
    }
}



/* Change default link color */
a {
    color: #49B6FF; /* Change to your preferred color */
    text-decoration: none; /* Removes underline */
}

/* Change color when hovering over links */
a:hover {
    color: #49B6FF; /* Green on hover */
    text-decoration: none;
}

/* Change visited link color */
a:visited {
    color: #49B6FF; /* Purple */
}
